[submodule "zsh/.zplug"]
	path = zsh/.zplug
	url = https://github.com/zplug/zplug
[submodule "alacritty/catppuccin"]
	path = alacritty/catppuccin
	url = https://github.com/catppuccin/alacritty.git
[submodule "nvim"]
	path = nvim
	url = https://github.com/LazyVim/starter
