/*
* wofi style. Colors are from authors below.
* Base16 Gruvbox dark, medium
* Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
*
*/
@define-color base00 #000000;
@define-color base01 #7b7462;
@define-color base02 #66cccc;
@define-color base03 #abbcda;
@define-color base04 #0099cc;
@define-color base06 #dab158;
@define-color base07 #7b7462;
@define-color base08 #cb241c;
@define-color base09 #59565d;
@define-color base0A #FABD2F;
@define-color base0B #B8BB26;
@define-color base0C #8EC07C;
@define-color base0D #83A598;
@define-color base0E #000000;
@define-color base0F #D65D0E;

window {
    opacity: 0.98;
    border:  0px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 18px;
}

#input {
	border-radius: 10px 10px 0px 0px;
    border:  0px;
    padding: 10px;
    margin: 0px;
    font-size: 28px;
	color: @base06;
	background-color: @base04;
}

#inner-box {
	margin: 0px;
	color: @base06;
	background-color: @base00;
}

#outer-box {
	margin: 0px;
	background-color: @base00;
    border-radius: 10px;
}

#selected {
	background-color: @base0E;
}

#entry {
	padding: 0px;
    margin: 0px;
	color: @base02;
	background-color: @base00;
}

#scroll {
	margin: 5px;
	background-color: @base00;
}

#text {
	margin: 0px;
	padding: 2px 2px 2px 10px;
}
