/*
* wofi style. Colors are from authors below.
* Base16 Gruvbox dark, medium
* Author: Dawid Kurek (dawikur@gmail.com), morhetz (https://github.com/morhetz/gruvbox)
*
*/
@define-color base00 #000000;
@define-color base01 #ffffff;
@define-color base02 #66cccc;
@define-color base03 #424153;
@define-color base04 #0099cc;
@define-color base06 #ffcc33;
@define-color base07 #ffffff;
@define-color base08 #cb241c;
@define-color base09 #59565d;
@define-color base0A #cc6633;
@define-color base0B #5fad4f;
@define-color base0C #8EC07C;
@define-color base0D #83A598;
@define-color base0E #000000;
@define-color base0F #ff9900;

window {
    opacity: 0.85;
    border:  0px;
    border-radius: 10px;
    font-family: monospace;
    font-size: 18px;
}

#input {
	border-radius: 10px 10px 0px 0px;
    border:  0px;
    padding: 10px;
    margin: 0px;
    font-size: 28px;
	color: @base0F;
	background-color: @base0B;
}

#inner-box {
	margin: 0px;
	color: @base06;
	background-color: @base03;
}

#outer-box {
	margin: 0px;
	background-color: @base03;
    border-radius: 10px;
}

#selected {
	background-color: @base03;
}

#entry {
	padding: 0px;
    margin: 0px;
	color: @base0F;
	background-color: @base03;
}

#scroll {
	margin: 5px;
	background-color: @base03;
}

#text {
	margin: 0px;
	padding: 2px 2px 2px 10px;
}
