* {
    border-radius: 0;
    font-family: JetBrains Mono Nerd Font;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
	background: #424153;
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: #424153;
}

#workspaces button {
    padding: 5px 10px;
    color: #abbcda;
}

#workspaces button.focused {
    box-shadow: 5px 2px 2px black;
    color: #000000;
    background-color: #0099cc;
    border-radius: 15px;
}

#workspaces button.urgent {
    color: #424153;
    background-color: #66cccc;
    border-radius: 15px;
}

#workspaces button:hover {
	background-color: #0099cc;
	color: #424153;
	border-radius: 15px;
}

#clock, #battery, #pulseaudio, #network, #workspaces {
	background-color: #424153;
	padding: 5px 5px;
	margin: 5px 0px;
}
#workspaces {
	margin-left: 10px;
	background-color: #424153;
	border-radius: 15px 0px 0px 15px;
}

#clock {
    color: #66cccc;
    border-radius: 0px 15px 15px 0px;
    margin-right: 10px;
  }


#battery {
    color: #66cccc;
    border-radius: 0px 0px 0px 0px;
}

#battery.charging {
    color: #0099cc;
}

#battery.warning:not(.charging) {
    background-color: red;
    color: #424153;
}

#network {
	color: #66cccc;
	border-radius: 0px 0px 0px 0px;
        margin: 5px 0px;
}

#pulseaudio {
	color: #66cccc;
}

