* {
    border-radius: 0;
    font-family: JetBrains Mono Nerd Font;
    font-size: 11px;
    min-height: 0;
}

window#waybar {
    background: transparent;
    color: white;
}

tooltip {
	background: #1a1b26;
	border-radius: 15px;
	border-width: 2px;
	border-style: solid;
	border-color: #1a1b26;
	}

#workspaces button {
    padding: 5px 10px;
    color: #cfc9c2;
}

#workspaces button.focused {
    box-shadow: 5px 2px 2px black;
    color: #1a1b26;
    background-color: #44848b;
    border-radius: 15px;
}

#workspaces button.urgent {
    color: #1a1b26;
    background-color: #6b9c6b;
    border-radius: 15px;
}

#workspaces button:hover {
	background-color: #44848f;
	color: #1a1b26;
	border-radius: 15px;
}

#clock, #battery, #pulseaudio, #network, #workspaces {
	background-color: #2b2b2b;
	padding: 5px 5px;
	margin: 5px 0px;
}
#workspaces {
	margin-left: 10px;
	background-color: #2b2b2b;
	border-radius: 15px 0px 0px 15px;
}

#clock {
    color: #dab158;
    border-radius: 0px 15px 15px 0px;
    margin-right: 10px;
  }


#battery {
    color: #44848b;
    border-radius: 0px 0px 0px 0px;
}

#battery.charging {
    color: #7bc275;
}

#battery.warning:not(.charging) {
    background-color: #dab158;
    color: #2a2e38;
}

#network {
	color: #cb241c;
	border-radius: 0px 0px 0px 0px;
        margin: 5px 0px;
}

#pulseaudio {
	color: #cb241c;
}

